
body {
    font-family: 'Microsoft JhengHei', sans-serif;
    background-color: #fdfdef;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    font-size: 2rem;
    color: #2e3a3c;
    margin-bottom: 20px;
}

.image-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80%;
    z-index: 1;
}

.image-container img {
    max-width: 600px;
    z-index: 1;
    width: 100%;
}

.image-container p {
    justify-content: flex-start;
    font-size: 2.6rem;
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;
    text-align: left; /* 文字靠左對齊 */
    width: 100%; /* 讓文字佔滿整個容器的寬度 *//* 可根據需要調整字體大小 */
    font-weight: bold;
    color: #698E81;
}

.footer {
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    color: #555;
}