
body {
    font-family: 'Microsoft JhengHei', sans-serif;
    background-color: #fdfdef;
    margin: 0;
    padding: 0;
}



.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



.image-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px;
    flex-wrap: wrap;
}

.image-container img {
    width: 100%;
    max-width: 580px;
}

.image-container p {
    margin: 15px;
    margin-left: 40px;
    font-size: 1.2rem;

}

.i {
    font-style: italic;
    color: #4e6a60;
}

.word-container{
    padding: 30px;
    max-width: 420px;
}

div h2{
    font-weight: 500;
    color: #4e6a60;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 20px;
}

div h2 b{
    color: #8ea186;
    margin-left: 40px;
}

.footer {
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    color: #555;
}